<div class="navbar bg-base-100 text-base-content">
  <div class="navbar-start">
    @if (authService.isAdmin()) {
      <a routerLink="/admin/tickets" class="btn btn-ghost text-xl font-montserrat">Gran Sabana <span class="text-secondary">|
          Tepuy</span></a>
    }
    @else {
      <a routerLink="/tickets" class="btn btn-ghost text-xl font-montserrat">Gran Sabana <span class="text-secondary">|
          Tepuy</span></a>
    }

  </div>
  <div class="navbar-end gap-4">

    @if (authService.isAdmin()) {
    <a routerLink="/admin" class="btn text-accent">Admin Panel</a>
    }

    @if (authService.authStatus() === 'authenticated' && !authService.isAdmin()) {
    <!-- <div class="tooltip" data-tip="Crear reporte">
      <button routerLink="/new-ticket" class="btn btn-soft btn-success">Nuevo ticket</button>
    </div> -->
    <div class="tooltip tooltip-left" data-tip="Dashboard-Estadísticas">
      <button routerLink="/" class="btn btn-circle btn-ghost">
        <img class="mt-1"
          src="assets/icons/{{ currentTheme === 'dark' ? 'material-symbols-dark--monitoring' : 'material-symbols-light--monitoring' }}.svg"
          alt="" width=100%>
      </button>
    </div>
    }
  </div>

</div>
