<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>Name</th>
        <th>Job</th>
        <th>Favorite Color</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (user of user(); track $index) {
        <tr>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12">
                  <img
                    src="assets/images/personal/{{ 'not_user' }}.png"
                    alt="" />
                </div>
              </div>
              <div>
                <div class="font-bold">{{ user.fullName }}, {{ user.surnames }}</div>
                <div class="text-sm opacity-50">{{ user.cedula }}</div>
              </div>
            </div>
          </td>
          <td>
            {{ user.p00 }}
            <br />
            <span class="badge badge-ghost badge-sm">{{ user.email }}</span>
          </td>
          <td>{{ user.officePhone }} / {{ user.personalPhone }}</td>
          <th>
            <button class="btn btn-ghost btn-xs">Detalles</button>
          </th>
        </tr>
      }
    </tbody>
  </table>
</div>
