@import "tailwindcss";
@plugin "daisyui" {
  /* themes: light --default, dark --prefersdark, cupcake; */
  themes: light, night --default, night --prefersdark;
}


@theme {
  --font-montserrat: "Montserrat", "sans-serif";
}

@layer base {
  @font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/montserrat-alternates/montserratAlternates-medium.ttf")
      format("truetype");
  }
}
